<div class="auth-page-container">
  <h2 *ngIf="!hasValidSession">Sign In</h2>
  <p *ngIf="hasValidSession">You are already logged in!</p>

  <form *ngIf="!hasValidSession" [formGroup]="authForm" (ngSubmit)="login()" class="auth-form-inline">
    <div class="p-field">
      <label for="username">Email:</label>
      <input id="username" type="text" pInputText formControlName="username" placeholder="Email" required />
      <small *ngIf="authForm.get('username')?.invalid && (authForm.get('username')?.touched || authForm.get('username')?.dirty)" class="p-error">
        Username is required.
      </small>
    </div>

    <div class="p-field">
      <label for="password">Password:</label>
      <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false" placeholder="Password" required></p-password>
      <small *ngIf="authForm.get('password')?.invalid && (authForm.get('password')?.touched || authForm.get('password')?.dirty)" class="p-error">
        Password is required.
      </small>
    </div>

    <div class="p-field">
      <button pButton type="submit" label="{{ loading ? 'Loading...' : 'Sign In' }}" [disabled]="authForm.invalid || loading"></button>
      </div>
